/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px;
    color: white;
}

header h2 {
    margin: 0;
}

header .sair-btn {
    background-color: white;
    color: #007bff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.cadastrar-turma {
    text-align: right;
    margin: 20px;
}

.cadastrar-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

/* Estilos para a tabela */
table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #f2f2f2;
}

.excluir-btn {
    background-color: #f44336;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.visualizar-btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
