/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #121f34;
}

header {
    background: linear-gradient(to right, #76b9cf, #f5deb3);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 170px;
}

nav ul li a {
    background: -webkit-linear-gradient(#7e7e06, #f0a00c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
    text-decoration: none;
    font-size: 22px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section {
    padding: 20px;
}

footer {
    background: linear-gradient(to right, #76b9cf, #f5deb3);
    text-align: center;
    padding: 20px;
}

footer p {
    background: -webkit-linear-gradient(#7e7e06, #f0a00c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: bolder;
    text-decoration: none;
    font-size: 22px;
}

.destinos {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #76b9cf;
    display: flex;
}

.destinos img {
    width: 500px;
    margin-top: 100px;
    margin-left: 200px;
    animation: pulse 7s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.titulo h2 {
    color: #ffffff;
    background-clip: text;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(247, 213, 25, 0.952), 0 0 10px rgb(223, 127, 17);
}

.resumo {
    text-align: center;
    width: 900px;
    margin-top: 150px;
}

.resumo h2 {
    color: #ffffff;
    background-clip: text;
    text-align: center;
    margin-top: 40px;
    font-weight: bolder;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(247, 213, 25, 0.952), 0 0 10px rgb(223, 127, 17);
}

.resumo p {
    margin-top: 20px;
    font-size: 18px;
}

/* Estilos específicos para destinos */
#destinos .destino {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

/* Estilos específicos para hotéis */
#hoteis .hotel {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

/* Estilos específicos para pontos turísticos */
#pontos .ponto {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    width: 30%;
}

/* Estilos específicos para os cards */
.card {
    display: flex;
    /* Usado para aplicar o Flexbox */
    flex-direction: column;
    /* Direção da coluna para alinhar verticalmente */
    align-items: center;
    /* Alinha os itens horizontalmente ao centro */
    justify-content: center;
    /* Alinha os itens verticalmente ao centro */
    width: calc(15% - 60px);
    margin: 80px;
    padding: 10px;
    border: 2px solid #000;
    /* Borda sólida de 2px */
    border-radius: 10px;
    /* Borda arredondada */
    /* background-color: #f0f0f0; Cor de fundo do card */
    background: linear-gradient(to right, #76b9cf, #f5deb3);
    box-sizing: border-box;
    /* Inclui a borda e o preenchimento na largura total do card */
}

.card h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
    /* Tamanho da fonte do título */
}

.card p {
    font-size: 14px;
    /* Tamanho da fonte dos parágrafos */
}

/* Estilos para o contêiner dos cards */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Distribui os cards uniformemente nas linhas */
}