body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#cartao-respostas {
  margin-bottom: 20px;
}

#resultado {
  text-align: center;
  margin-top: 20px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
