/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.tabela-inventario {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f9f9f9;
}

.mensagens-sistema {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
}
