/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

.navbar {
    background: linear-gradient(to right, #333333, #666666, #999999, #CCCCCC);
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 5px;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    max-width: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Outros Estilos */
.modal-content h2 {
    color: #333;
}

.modal-content p {
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.6;
}

/* Estilo do Botão de Fechar */
.close:hover {
    color: #999;
}

/* Estilos para centralizar o conteúdo */
.content {
    text-align: center;
    margin: auto;
    max-width: 800px;
    /* Definindo a largura máxima do conteúdo */
    padding: 20px;
    /* Adicionando um espaçamento interno */
    margin-top: 50px;
    /* Adicionando margem superior */
}

/* Estilos para o título */
.content h1 {
    margin-top: 20px;
    /* Adicionando margem superior ao título */
    color: #333;
}

/* Estilos para o parágrafo */
.content p {
    margin-top: 20px;
    /* Adicionando margem superior ao parágrafo */
    text-align: center;
    /* Centralizando o parágrafo */
    color: #333;
}

/* Estilos para a seção de Veículos Disponíveis */
#veiculos-disponiveis {
    text-align: center;
    margin-top: 50px;
}

.veiculos-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.veiculo-item {
    width: 25%; /* Cada veículo ocupará 25% da largura da linha */
    box-sizing: border-box; /* Incluir padding e borda no cálculo da largura */
    padding: 10px; /* Espaçamento interno entre os itens */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.95);
    }
    &:focus {
        outline: none;
    }
    &:focus-visible {
        outline: 2px solid #000;
    }
    &:focus-visible:not(:focus-visible) {
        outline: none;
    }
}

.veiculo-item img {
    width: 100%; /* A imagem ocupará todo o espaço do contêiner */
    height: auto; /* Manter a proporção da imagem */
    display: block; /* Para garantir que não haja espaços extras abaixo da imagem */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.veiculo-info {
    padding: 10px;
}

.veiculo-info h3 {
    margin-top: 0;
}

.veiculo-info p {
    margin: 5px 0;
}

/* Estilos para Cadastro de Clientes, Reserva de Veículos */
.content {
    text-align: center;
    margin-top: 50px;
}

.formulario {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.formulario button[type="button"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario button[type="button"]:hover {
    background-color: #45a049;
}

#clientesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#clientesTable th,
#clientesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#clientesTable th {
    background-color: #f2f2f2;
    text-align: center;
}

#clientesTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#clientesTable tr:hover {
    background-color: #ddd;
}

/* Estilos para a tabela de veículos */
#veiculosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#veiculosTable th,
#veiculosTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#veiculosTable th {
    background-color: #f2f2f2;
    text-align: center;
}

#veiculosTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#veiculosTable tr:hover {
    background-color: #ddd;
}

/* Estilos para a página de registro de aluguéis */
#registrodealugueis {
    text-align: center;
    margin-top: 50px;
}

#form-registro-aluguel {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#form-registro-aluguel input[type="text"],
#form-registro-aluguel input[type="date"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-registro-aluguel button[type="button"] {
    width: calc(100% - 24px);
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-registro-aluguel button[type="button"]:hover {
    background-color: #45a049;
}

/* Estilos para a tabela de registro de aluguéis */
#registrodealugueis {
    margin-top: 50px;
}

#tabela-alugueis {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 20px;
}

#tabela-alugueis th,
#tabela-alugueis td {
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    /* Impede a quebra de texto */
}

#tabela-alugueis th {
    background-color: #f2f2f2;
}

#tabela-alugueis tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabela-alugueis tr:hover {
    background-color: #ddd;
}

/* Estilos para a tabela de veículos disponíveis */
#veiculos-disponiveis {
    text-align: center;
    margin-top: 50px;
}

#lista-veiculos {
    list-style-type: none;
    padding: 0;
}

#lista-veiculos li {
    display: inline-block;
    margin: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para o formulário de cadastro de clientes */
#cadastro-clientes {
    text-align: center;
    margin-top: 50px;
}

#form-cadastro-cliente {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#form-cadastro-cliente input[type="text"],
#form-cadastro-cliente input[type="email"],
#form-cadastro-cliente input[type="tel"],
#form-cadastro-cliente select {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-cadastro-cliente button[type="button"] {
    width: calc(100% - 24px);
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-cadastro-cliente button[type="button"]:hover {
    background-color: #45a049;
}

/* Estilos para o formulário de reserva de veículos */
#reserva-veiculos {
    text-align: center;
    margin-top: 50px;
}

#form-reserva-veiculo {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}

#form-reserva-veiculo input[type="text"],
#form-reserva-veiculo input[type="date"] {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#form-reserva-veiculo button[type="button"] {
    width: calc(100% - 24px);
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form-reserva-veiculo button[type="button"]:hover {
    background-color: #45a049;
}

/* Estilo para o select */
select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    margin: 8px 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilo para as opções do select */
select option {
    padding: 8px;
    font-size: 16px;
}

/* Estilos para o rodapé */
footer {
    background: linear-gradient(to right, #333333, #666666, #999999, #CCCCCC);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#scrollBtn:hover {
    background-color: #555;
}