.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.product-image {
  width: 100%; /* Defina a largura desejada para as imagens */
  height: auto; /* Isso garantirá que a altura seja ajustada automaticamente de acordo com a largura */
}

/* .green-gradient {
  background-image: linear-gradient(to right, #d9ef9f, #b7cd7f, #778c43, #445a14);
  border-color: transparent;
}

.green-gradient:hover {
  background-image: linear-gradient(to right, #778c43, #445a14);
} */

/* Estilos adicionais para os botões */
.button {
  padding: 10px;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  margin: 5px;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
