* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

body {
    background: linear-gradient(to bottom, #007bff, #4e8cff, #7fb3ff, #add2ff);
}

.header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
}

.chat-title {
    margin: 0;
}

.chat-container {
    width: 300px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #add2ff;
}

.chat-box {
    height: 200px;
    overflow-y: scroll;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#user-input {
    width: calc(100% - 70px);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

button {
    width: 60px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}