/* Estilos para o player de música */
#player {
  margin-top: 50px;
}

#player h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#player audio {
  width: 100%;
  margin-bottom: 20px;
}

#albumImg {
  display: block;
  margin: 0 auto;
  width: 200px; /* Ajuste conforme necessário */
  height: 200px; /* Ajuste conforme necessário */
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

#albumImg:hover {
  transform: scale(1.1);
}

/* Estilos para os botões de controle */
.btn-primary {
  background-color: #1db954;
  border-color: #1db954;
}

.btn-primary:hover {
  background-color: #1ed760;
  border-color: #1ed760;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(29, 185, 84, 0.5);
}
