/* Estilos personalizados */* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
  }

.navbar {
    background-color: #6c757d; /* Cor de fundo da navbar */
    padding: 10px 16px; /* Espaço entre o texto e o botão */
    margin-bottom: 10px; /* Espaço entre o texto e o botão */
}

  .navbar-brand {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    background-color: #343a40;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 20px;
    /* margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px; */
    border-radius: 10px;
    color: white;
    background-color: #343a40;
    font-size: 20px;
}

  .nav-link {
    color: #fff;
    text-decoration: none; /* Remover sublinhado dos links */
    padding: 10px 15px;
}   

  .navbar-brand:hover, 
  .navbar-nav, .nav-link:hover {
    color: #ffc107; /* Cor do texto ao passar o mouse */
    background-color: #343a40; /* Cor do fundo ao passar o mouse */
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);  
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    /* text-decoration: none;
    border-radius: 10px; */
  }
 
  .navbar-toggler {
    border-color: #fff; /* Cor do ícone do botão de toggle */
    background-color: #343a40; /* Cor do fundo do botão de toggle */
    padding: 10px 15px; /* Espaço entre o texto e o botão */
    margin-top: 10px; /* Espaço entre o texto e o botão */
    margin-bottom: 10px; /* Espaço entre o texto e o botão */
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar-toggler-icon {
    background-image: url("icon.png"); /* Ícone do botão de toggle */
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}

  .navbar-collapse {
    justify-content: flex-end; /* Alinhar itens à direita */
  }

  .jumbotron {
    background: linear-gradient(135deg, #ffe797, #ffc107); /* Degradê de tons de amarelo */
    color: #fff;
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }

  .jumbotron h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    text-decoration: none;
    background: linear-gradient(135deg, #6c757d, #343a40); /* Degradê de tons de cinza */
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

  .jumbotron p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-decoration: none;
    background: linear-gradient(135deg, #6c757d, #343a40); /* Degradê de tons de cinza */
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
}

  .jumbotron ul {
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    background: linear-gradient(135deg, #6c757d, #343a40); /* Degradê de tons de cinza */
    padding: 10px 15px;
 } 

.jumbotron a {
    text-decoration: none;
    background-color: #007bff;
    padding: 10px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); 
    text-decoration: none;
}

 /* Estilos para o botão "Saiba mais" */
  .jumbotron a.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107;
    margin-top: 20px; /* Adiciona margem superior ao botão */
    display: inline-block; /* Garante que o botão fique na mesma linha */
}

  .jumbotron a.btn-primary:hover {
    background-color: #ffca28;
    border-color: #ffca28;
  }