body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    padding: 1em 0; /* 20px */
}

main {
    padding: 20px;
    background-color: #f5f5f5;
}

section {
    margin-bottom: 30px;
}

/* Estilo para a Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #e0e0e0;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

