/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

#inputs {
    text-align: center;
    margin-bottom: 20px;
}

#resultados {
    margin: 0 auto;
    width: 60%;
}

table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
